<div class="hero_area ">
    <div class="hero_bg_box">
      <img src="images/hero-bg-new.jpg" alt="">
    </div>
    <!-- header section strats -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
      <a href="/" class="logo"><img src="/images/logo.png" alt="" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link scrollto" href="#home">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#services">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </nav>