    <!-- slider section -->
    <section class="slider_section" id="home">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail-box">
                <h1>
                  Cuidamos com muito carinho <br>
                  do seu Pet
                </h1>
                <p>
                  A GreenPet nasceu com a responsabilidade de trazer o melhor atendimento para seu pet.
                </p>
                <a href="">
                  Saiba mais
                </a>
              </div>
            </div>
          </div>
        </div>
    </section>
      <!-- end slider section -->
</div>