<section class="about_section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Sobre nós
              </h2>
            </div>
            <p>
              A GreenPet é um Petshop criado para atender as necessidades de todos os tipos de Pet. Seja os menores (hamsters), até os maiores (cachorros). 
              <br><br>
              Nós trabalhamos com rações, medicações, brinquedos, petiscos e outros produtos para o seu animal. 
            </p>
          </div>
        </div>
      </div>
    </div>
</section>