<section class="care_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Assista seu pet em tempo real
              </h2>
            </div>
            <p>
              Aqui você tem acesso às câmeras durante o banho do seu animal. Acompanhando todo o processo até o momento em que ele fica cheirosinho aguardando você!
            </p>
            <a href="">
              Fale conosco!
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/care_1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
</section>